body
{
    font-family: Arial;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.intro{
    text-align: center;
}

.detail{
    width: 800px;
    margin:auto;
}

span{
    font-size: 24px;
    margin: 0;
    color: blue;
    font-weight: bold;
}

img{
    border-radius: 50%;
}

.header{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 24px;
    margin: 0;
}

.logo{
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.navbar{

    display:flex;

    align-items:center;

    gap:20px;

    padding:20px;
}

.navbar a{

    text-decoration:none;

    color:black;

    font-weight:bold;
}

.project-card{

    border:1px solid #ddd;

    padding:20px;

    margin:20px 0;

    border-radius:10px;
}

form{
    width:500px;
}

input,textarea{

    width:100%;

    padding:10px;

    margin-top:5px;
}

button{

    padding:10px 20px;

    cursor:pointer;
}