<!DOCTYPE html>
<html>

<head>
    <title>Contact Me</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" href="../logo.png" type="image/png">
</head>

<div class="navbar">

    <img src="../logo.png" class="logo">

    <a href="/">Home</a>

    <a href="/about">About</a>

    <a href="/projects">Projects</a>

    <a href="/resume">Resume</a>

    <a href="/contact">Contact</a>

    <a href="https://github.com/bruceyang1219" target="_blank">GitHub</a>
</div>

<body>

    <h1>Contact Me</h1>

    <form action="/submit" method="post">
        <label>Name</label>
        <input type="text" name="name" required>
        <br><br>
        <label>Email</label>
        <input type="email" name="email" required>
        <br><br>
        <label>Message</label>
        <textarea name="message" required></textarea>
        <br><br>
        <button type="submit">Send Message</button>
    </form>
        
    <p>
        Email:zy246@duke.edu<br>
        Phone: 181 1739 9709
    </p>

</body>